body {
    font-family: Arial, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    padding-top: 50px;
}

.signup-container {
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
    margin-top: -50px;
}

h2 {
    margin-bottom: 20px;
}

label {
    display: block;
    text-align: left;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"], input[type="email"], input[type="password"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

.home-link, .login-link {
    margin-top: 20px;
}

.home-link a, .login-link a {
    color: #4CAF50;
    text-decoration: none;
}

.home-link a:hover, .login-link a:hover {
    text-decoration: underline;
}